{extends "../@layout.latte"}

{php
    $cur['static'] = [
        'help.css'
    ];
}

{block title}{$heading}{/block}

{block content}
	<div id="terms_box_content">
		{$content|noescape}
	</div>
{/block}

{* сорямбик, я мб чёнить придумаю (например, js патчи, или же кааастомные странички, но вряд ли). *}