{extends "../@layout.latte"}

{php $cur['static'] = [
    'profile_edit.js',
    'profile_edit.css',
    'ui_controls.js',
    'ui_controls.css'
    ];
}

{block title}{_edit_page}{/block}

{block view_script}
{if $jsTags}
    <script>
        {include "components/edit_init_script.latte"}
    </script>
{else}
    {include "components/edit_init_script.latte"}
{/if}
{/block}

{block content}
    {var $isMain      = $mode === 'main'}
    {var $isContacts  = $mode === 'contacts'}
    {var $isInterests = $mode === 'interests'}
    {var $isAdditional = $mode === 'additional'}
    {var $isAvatar    = $mode === 'avatar'}
    {var $isBackDrop  = $mode === 'backdrop'}
    {php if ($isAvatar || $isBackDrop) $isMain = true;}

    <div n:if="$user->hasPendingNumberChange()" class="msg">
        <b>Подтверждение номера телефона</b><br/>
        Введите код для подтверждения смены номера: <a href="/edit/verify_phone">ввести код</a>.
    </div>

    <div class="tabs t_bar clear_fix">
        <ul id="pedit_filters" class="t0">
            <li id="feedtab_news" class="{($isMain ? 'active_link' : '')}">
                <a href="/edit">
                    <b class="tl1"><b></b></b><b class="tl2"></b>
                    <b class="tab_word">{_main}</b>
                </a>
            </li>
            <li id="feedtab_news" class="{($isContacts ? 'active_link' : '')}">
                <a href="/edit?act=contacts">
                    <b class="tl1"><b></b></b><b class="tl2"></b>
                    <b class="tab_word">{_contacts}</b>
                </a>
            </li>
            <li id="feedtab_news" class="{($isInterests ? 'active_link' : '')}">
                <a href="/edit?act=interests">
                    <b class="tl1"><b></b></b><b class="tl2"></b>
                    <b class="tab_word">{_interests}</b>
                </a>
            </li>
            <li id="feedtab_news" class="{($isAdditional ? 'active_link' : '')}">
                <a href="/edit?act=additional">
                    <b class="tl1"><b></b></b><b class="tl2"></b>
                    <b class="tab_word">{_additional}</b>
                </a>
            </li>
        </ul>
    </div>

    <div id="pedit_result"></div>

    <div id="profile_editor">
        {if $isMain}
        <div id="pedit_general">
            <div id="pedit_name_request" style="display:none;"></div>
            <div class="pedit_general_row clear_fix">
                <div class="pedit_general_label fl_l ta_r">{_name}:</div>
                <div class="fl_l">
                    <input class="text" id="pedit_first_name" value="{$user->getFirstName(true)}" type="text">
                </div>
                <span id="pedit_name_tt_place" class="fl_l"></span>
            </div>
            <div class="pedit_general_row clear_fix">
                <div class="pedit_general_label fl_l ta_r">{_surname}:</div>
                <div class="fl_l">
                    <input class="text" id="pedit_last_name" value="{$user->getLastName(true)}" type="text">
                </div>
            </div>
            <div class="pedit_general_row clear_fix"><div class="pedit_general_label fl_l ta_r">{_nickname}:</div>
                <div class="fl_l">
                    <input class="text" id="pedit_middle_name" value="{$user->getPseudo()}" type="text">
                </div>
            </div>
            <div style="display: none;">
                <div class="pedit_general_row clear_fix" id="pedit_maiden_row">
                    <div class="pedit_general_label fl_l ta_r">Это вообще чЁ:</div>
                    <div class="fl_l">
                        <input class="text" id="pedit_maiden_name" name="pedit_maiden_name" type="text">
                    </div>
                </div>
            </div>
            <div class="pedit_general_row clear_fix">
                <div class="pedit_general_label fl_l ta_r">{_pronouns}:</div>
                <div class="fl_l">
                    <input id="pedit_sex" name="pedit_sex">
                </div>
            </div>
            <div class="pedit_general_row clear_fix" id="pedit_status_row">
                <div class="pedit_general_label fl_l ta_r">{_relationship}:</div>
                <div class="fl_l">
                    <input id="pedit_status" name="pedit_status">
                </div>
            </div>
            <div class="pedit_general_row clear_fix" id="pedit_status_partner">
                <div class="pedit_general_label fl_l ta_r" id="pedit_status_ptitle"></div>
                <div class="fl_l">
                    <input id="pedit_partner" name="pedit_partner">
                    <span class="progress" id="pedit_status_progress"></span>
                    <span id="pedit_partner_tt_place" class="fl_l"></span>
                </div>
            </div>
            <div class="pedit_general_row clear_fix" id="pedit_status_detail">
                <div class="pedit_general_label fl_l"></div>
                <div class="fl_l" id="pedit_status_detail_content"></div>
                <span id="pedit_partner_tt_place1" class="fl_l"></span>
            </div>
            <div class="pedit_general_row clear_fix"><div class="pedit_general_label fl_l ta_r">{_birth_date}:</div>
                <div class="fl_l">
                    <span class="pedit_bday fl_l">
                        <input id="pedit_bday" name="pedit_bday">
                    </span>
                    <span class="pedit_bmonth fl_l">
                        <input id="pedit_bmonth" name="pedit_bmonth">
                    </span>
                    <span class="fl_l">
                        <input id="pedit_byear" name="pedit_byear">
                    </span>
                </div>
            </div>
            <div class="pedit_general_row clear_fix">
                <div class="pedit_general_label fl_l ta_r"></div>
                <div class="fl_l">
                    <input id="pedit_bday_visibility" name="pedit_bday_visibility">
                </div>
                <div class="fl_l" id="pedit_bday_vis_detail">на моей странице.</div>
            </div>
            <div class="pedit_general_row clear_fix">
                <div class="pedit_general_label fl_l ta_r">{_hometown}:</div>
                    <div class="fl_l">
                        <input class="text" id="pedit_home_town" name="pedit_home_town" type="text">
                </div>
            </div>
            <div class="out_of_order">
                <div class="pedit_general_row clear_fix"><div class="pedit_general_label fl_l ta_r">Языки:</div>
                    <div class="fl_l">
                        <input id="pedit_langs" name="pedit_langs">
                    </div>
                </div>

            
                <div class="pedit_general_family_row clear_fix">
                    <div class="pedit_general_label fl_l ta_r">Дедушки, бабушки:</div>
                    <div class="fl_l">
                        <div class="pedit_wrap_relation" id="pedit_grandparents"/>
                        <a id="pedit_add_grandparent_link">Добавить</a>
                    </div>
                </div>
                <div class="pedit_general_family_row clear_fix">
                    <div class="pedit_general_label fl_l ta_r">Родители:</div>
                    <div class="fl_l">
                        <div class="pedit_wrap_relation" id="pedit_parents"></div>
                        <a id="pedit_add_parent_link">Добавить</a>
                    </div>
                </div>
                <div class="pedit_general_family_row clear_fix">
                    <div class="pedit_general_label fl_l ta_r">Братья, сёстры:</div>
                    <div class="fl_l">
                        <div class="pedit_wrap_relation" id="pedit_siblings"></div>
                        <a id="pedit_add_sibling_link">Добавить</a>
                    </div>
                </div>
                <div class="pedit_general_family_row clear_fix">
                    <div class="pedit_general_label fl_l ta_r">Дети:</div>
                    <div class="fl_l">
                        <div class="pedit_wrap_relation" id="pedit_children"></div>
                        <a id="pedit_add_child_link">Добавить</a>
                    </div>
                </div>
                <div class="pedit_general_family_row clear_fix">
                    <div class="pedit_general_label fl_l ta_r">Внуки:</div>
                    <div class="fl_l">
                        <div class="pedit_wrap_relation" id="pedit_grandchildren"></div>
                        <a id="pedit_add_grandchild_link">Добавить</a>
                    </div>
                </div>
            </div>

            <div class="pedit_controls">
                <span class="button_blue">
                    <button onclick="ProfileEditor.saveGeneral(this);" type="button">{_save}</button>
                </span>
            </div>
        </div>
        

        {elseif $isContacts}

        <form action="/edit?act=contacts" method="POST" enctype="multipart/form-data">
            <table class="flexible_table" cellspacing="7" cellpadding="0" width="60%" border="0" align="center">
                <tbody>
                    <tr>
                        <td width="120" valign="top">
                            <span class="nobold">{_email}: </span>
                        </td>
                        <td>
                            <input type="email" name="email_contact" value="{$user->getContactEmail()}" />
                        </td>
                    </tr>
                    <tr>
                        <td width="120" valign="top">
                            <span class="nobold">{_telegram}: </span>
                        </td>
                        <td>
                            <input type="text" name="telegram" value="{$user->getTelegram()}" />
                        </td>
                    </tr>
                    <tr>
                        <td width="120" valign="top">
                            <span class="nobold">{_personal_website}: </span>
                        </td>
                        <td>
                            <input type="text" name="website" value="{$user->getWebsite()}" />
                        </td>
                    </tr>
                    <tr>
                        <td width="120" valign="top">
                            <span class="nobold">{_city}: </span>
                        </td>
                        <td>
                            <input type="text" name="city" value="{$user->getCity()}" />
                        </td>
                    </tr>
                    <tr>
                        <td width="120" valign="top">
                            <span class="nobold">{_address}: </span>
                        </td>
                        <td>
                                <input type="text" name="address" value="{$user->getPhysicalAddress()}" />
                        </td>
                    </tr>
                    <tr>
                        <td>

                        </td>
                        <td>
                            <input type="hidden" name="hash" value="{$csrfToken}" />
                            <input type="submit" value="{_save}" class="button" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>

        {elseif $isInterests}

        <form action="/edit?act=interests" method="POST" enctype="multipart/form-data">
            <table class="flexible_table" cellspacing="7" cellpadding="0" width="60%" border="0" align="center">
                <tbody>
                    <tr>
                        <td width="120" valign="top">
                            <span class="nobold">{_interests}: </span>
                        </td>
                        <td>
                            <textarea type="text" name="interests">{$user->getInterests()}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td width="120" valign="top">
                            <span class="nobold">{_favorite_music}: </span>
                        </td>
                        <td>
                            <textarea type="text" name="fav_music">{$user->getFavoriteMusic()}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td width="120" valign="top">
                            <span class="nobold">{_favorite_films}: </span>
                        </td>
                        <td>
                            <textarea type="text" name="fav_films">{$user->getFavoriteFilms()}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td width="120" valign="top">
                            <span class="nobold">{_favorite_shows}: </span>
                        </td>
                        <td>
                            <textarea type="text" name="fav_shows">{$user->getFavoriteShows()}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td width="120" valign="top">
                            <span class="nobold">{_favorite_books}: </span>
                        </td>
                        <td>
                            <textarea type="text" name="fav_books">{$user->getFavoriteBooks()}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td width="120" valign="top">
                            <span class="nobold">{_favorite_quotes}: </span>
                        </td>
                        <td>
                            <textarea type="text" name="fav_quote">{$user->getFavoriteQuote()}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td width="120" valign="top">
                            <span class="nobold">{_favorite_games}: </span>
                        </td>
                        <td>
                            <textarea type="text" name="fav_games">{$user->getFavoriteGames()}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td width="120" valign="top">
                            <span class="nobold">{_information_about}: </span>
                        </td>
                        <td>
                            <textarea type="text" name="about">{$user->getDescription()}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>

                        </td>
                        <td>
                            <input type="hidden" name="hash" value="{$csrfToken}" />
                            <input type="submit" value="{_save}" class="button" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>

        {elseif $isAvatar}

        <form action="/al_avatars" method="POST" enctype="multipart/form-data">
            <table class="flexible_table" cellspacing="7" cellpadding="0" width="60%" border="0" align="center">
                <tbody>
                    <tr>
                        <td width="120" valign="top">
                            <span class="nobold">{_picture}: </span>
                        </td>
                        <td>
                            <label class="button" style="">{_browse}
                                <input type="file" id="blob" name="blob" style="display: none;" onchange="filename.innerHTML=blob.files[0].name" />
                            </label>
                            <div id="filename" style="margin-top: 10px;"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>

                        </td>
                        <td>
                            <input type="hidden" name="hash" value="{$csrfToken}" />
                            <input type="submit" value="{_save}" class="button" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
        {/if}
    </div>

{/block}
