{*{extends "../@layout.latte"}
{block title}{_deprecated_browser}{/block}

{block header}
    {_deprecated_browser}
{/block}

{block content}
    {_deprecated_browser_description}
{/block} *}

{include "../ee13_vars.latte"}
{php $ee13vars = $GLOBALS['ee13'];}

{* здесь мы поставим роутер для веб вк апи *}

{php
// фотовьюер выёбывался, ПРИШЛОСЬ ...
error_reporting(E_ALL & ~E_WARNING & ~E_NOTICE);
$render_template = null;

if ($_SERVER['REQUEST_METHOD'] === 'POST') {
    $target = str_replace(['/', '.php'], '', $_REQUEST['target'] ?? '');
    $act = preg_replace('/[^a-zA-Z0-9_]/', '', $_REQUEST['act'] ?? '');

    $base_path = OPENVK_ROOT . "/themepacks/" . $theme->getId() . "/core/al_routes";
    $act_file = str_replace('/', DIRECTORY_SEPARATOR, "{$base_path}/{$target}/{$act}.php");

    if (file_exists($act_file)) {
        $response = require $act_file; 
        echo $response;
    } else {
        echo $ee13vars->ajax(7, [$GLOBALS['ee13']->get_lang("bd_unknown_act") . "!!!<br>target: <b>" . htmlspecialchars($target) . "</b><br>act: <b>" . htmlspecialchars($act) . "</b>"]);
    }
    
} else {
    echo($GLOBALS['ee13']->get_lang("baddragon_php"));
}
}

{if $render_template === "likes"}
    {include "../components/like_tooltips.latte", type => $likes_tpl_type, target_id => $target_id, likers => $likers, like_count => $like_count, liked_by_me => $liked_by_me}
{/if}