<div id="ac" class="fixed">
    <div class="ac_wrap clear_fix">
        <div id="ac_controls" class="fl_l">
            <div id="ac_play" class="fl_l"/>
            <div class="next_prev fl_l">
                <div id="ac_prev" class="ctrl_wrap">
                    <div class="prev ctrl"/>
                </div>
                <div id="ac_next" class="ctrl_wrap">
                    <div class="next ctrl"/>
                </div>
            </div>
        </div>
        <div class="info fl_l">
            <div class="title_wrap clear_fix">
                <div id="ac_name" class="ac_name fl_l">
                    <span id="ac_performer" class="performer">{_track_unknown}</span> – <span id="ac_title" class="title">{_track_noname}</span>
                </div>
                <span id="ac_duration" class="duration fl_r">00:00</span>
            </div>
            <div class="player_wrap">
                <div id="ac_line">
                    <div/>
                </div>
                <div id="ac_player" class="ac_player" ondragstart="return false;" onselectstart="return false;">
                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                        <tbody>
                            <tr>
                                <td style="width: 100%;">
                                    <div id="ac_pr" class="">
                                        <div id="ac_white_line" class="ac_white_line"/>
                                        <div id="ac,back_line" class="ac_back_line">
                                            <!-- -->
                                        </div>
                                        <div id="ac_load_line" class="ac_load_line">
                                            <!-- -->
                                        </div>
                                        <div id="ac_pr_line" class="ac_progress_line">
                                            <div id="ac_pr_slider" class="ac_slider">
                                                <!-- -->
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div id="ac_vol">
                                        <div id="ac_vol_white_line" class="ac_vol_white_line">
                                            <!-- -->
                                        </div>
                                        <div id="ac_vol_back_line" class="ac_load_line">
                                            <!-- -->
                                        </div>
                                        <div id="ac_vol_line" class="ac_progress_line">
                                            <div id="ac_vol_slider" class="ac_slider">
                                                <!-- -->
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="extra_ctrls fl_r">
            <div id="ac_add" class="ctrl_wrap clear_fix fl_l">
                <div class="add ctrl"/>
            </div>
            <div id="ac_repeat" class="ctrl_wrap clear_fix fl_l">
                <div class="repeat ctrl"/>
            </div>
            <div id="ac_shuffle" class="ctrl_wrap clear_fix fl_l">
                <div class="shuffle ctrl"/>
            </div>
            <div id="ac_rec" class="ctrl_wrap clear_fix fl_l">
                <div class="rec ctrl"/>
            </div>
            <div id="ac_status" class="ctrl_wrap clear_fix fl_l">
                <div class="status ctrl"/>
            </div>
        </div>
    </div>
    <div class="shadow">
        <div class="sh1"/>
        <div class="sh2"/>
        <div class="sh3"/>
        <div class="sh4"/>
    </div>
</div>