{extends "../@layout.latte"}

{php
$cur['static'] = [
    'audio.js',
    'audio.css',
    'audioplayer.js',
    'audioplayer.css',
    'ui_controls.js',
    'ui_controls.css',
    'indexer.js',
    'sorter.js'
];
}

{block view_script}
{if $jsTags}
    <script>
        {include "components/init_script.latte"}
    </script>
{else}
    {include "components/init_script.latte"}
{/if}
{/block}

{block title}
    {if $mode == 'list'}
        {if $ownerId > 0}
            {_audios} {$owner->getMorphedName("genitive", false, false)}
        {else}
            {_audios_group}
        {/if}
    {elseif $mode == 'new'}
        {_audio_new}
    {elseif $mode == 'uploaded'}
        {_my_audios_small_uploaded}
    {elseif $mode == 'popular'}
        {_audio_popular}
    {elseif $mode == 'alone_audio'}
        {$alone_audio->getName()}
    {else}
        {if $ownerId > 0}
            {_playlists} {$owner->getMorphedName("genitive", false, false)}
        {else}
            {_playlists_group}
        {/if}
    {/if}
{/block}

{block content}
<div id="audio" class="new" style="padding-top: 46px;">
{include "bigplayer.latte"}
    <div class="audio_wrap" id="audio_wrap">
        <table class="audio_table" cellspacing="0" cellpadding="0" border="0" width="100%">
            <tbody>
                <tr>
                    <td class="main_panel">
                        {include "trax.latte"}
                    </td>
                    <td class="side_panel">
                        {include "tabs.latte"}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{/block}
