{extends "../@layout.latte"}
{var $iterator = iterator_to_array($notes)}

{php $cur['static'] = [
    'wall.js',
    'wall.css',
    'page.js',
    'page.css',
    'wk.js',
    'wk.css',
    'notes.js',
    'notes.css',
    'pagination.js',
]}

{block title}{_notes}{/block}

{block view_script}
    {if $jsTags}<script>{include "components/list_init_script.latte"}</script>
    {else}{include "components/list_init_script.latte"}{/if}
{/block}

{block content}
<div class="full_wall_tabs t_bar clear_fix">
    <div class="fl_r progress" id="full_wall_progress"></div>

    <ul id="full_wall_filters" class="t0">
        <li>
            <a href="/wall{$owner->getId()}?type=owners" onclick="return checkEvent(event)" onmousedown="return FullWall.go(this, event)">
                <b class="tl1"><b></b></b>
                <b class="tl2"></b>
                <b class="tab_word">{tr("users_posts", ovk_proc_strtr($owner->getFirstName(), 20))}</b>
            </a>
        </li>
        <li>
            <a href="/wall{$owner->getId()}" onclick="return checkEvent(event)" onmousedown="return FullWall.go(this, event)">
                <b class="tl1"><b></b></b>
                <b class="tl2"></b>
                <b class="tab_word">{_all_posts}</b>
            </a>
        </li>
        <li class="active_link">
            <a href="/notes{$owner->getId()}" onclick="return checkEvent(event)" onmousedown="return FullWall.go(this, event)">
                <b class="tl1"><b></b></b>
                <b class="tl2"></b>
                <b class="tab_word">{_notes}</b>
            </a>
        </li>
    </ul>
</div>

<div class="big_wall_post"><div class="wall_module"></div></div>

<div class="summary_wrap" id="fw_summary_wrap">
    <div class="pg_pages fl_r" id="fw_pages"></div>
    <div class="summary" id="fw_summary">{tr("notes", $count)}</div>
</div>

<div class="wall_wrap clear_fix">
    <div class="big_wall wide_wall_module">
        <div class="wall_module">
            <div id="page_wall_posts">
            {var $data = is_array($iterator) ? $iterator : iterator_to_array($iterator)}
            {if sizeof($data) > 0}
                <div n:foreach="$data as $dat" id="post{$owner->getId() . '_note' . $dat->getId()|noescape}" class="post" onmouseover="wall.postOver('{$owner->getId() . '_note' . $dat->getId()|noescape}')" onmouseout="wall.postOut('{$owner->getId() . '_note' . $dat->getId()|noescape}')" onclick="wall.postClick('{$owner->getId() . '_note' . $dat->getId()|noescape}', event)">
                    <div class="post_table">
                        <div class="post_image">
                            <a class="post_image" href="{$owner->getURL()}">
                                <img src="{$owner->getAvatarUrl('miniscule')}" style="max-width: 50px;">
                            </a>
                        </div>
                        <div class="post_info">

                            <div class="wall_text">
                                <a class="author" href="{$owner->getURL()}">{$owner->getCanonicalName()}</a>
                                <div id="wpt{$owner->getId() . '_note' . $dat->getId()|noescape}">
                                    <div class="wall_post_text">
                                        <a class="wall_note_type" href="/note{$dat->getPrettyId()}">{$dat->getName()}</a>
                                            {$dat->getText(750)|noescape}
                                    </div>
                                </div>
                            </div>
                            <div class="replies">
                                <div class="reply_link_wrap" id="wpe_bottom{$owner->getId() . '_note' . $dat->getId()|noescape}">
                                    <small>
                                        <a href="/note{$dat->getPrettyId()}">
                                            <span class="rel_date">{$dat->getPublicationTime()}</span>
                                        </a>
                                    </small>
                                </div>
                                {* TODO: COMMENTS <div class="replies_wrap clear" id="replies_wrap{$owner->getId() . '_note' . $dat->getId()|noescape}" style="">
                                    <div id="replies{$owner->getId() . '_note' . $dat->getId()|noescape}"><input type="hidden" id="start_reply{$owner->getId() . '_note' . $dat->getId()|noescape}" value="26103356">
                                        <div id="post1note_26103356" class="reply reply_dived clear " onmouseover="wall.replyOver('1note_26103356')" onmouseout="wall.replyOut('1note_26103356')">
                                            <div class="reply_table">
                                                <a class="reply_image" href="/web/20130105203612/http://vk.com/zadorozhnaya_natasha">
                                                    <img src="/web/20130105203612im_/http://vk.com/images/deactivated_c.gif" width="50" height="50" class="reply_image">
                                                </a>
                                                <div class="reply_info">
                                                    <div class="reply_text">
                                                        <a class="author" href="/web/20130105203612/http://vk.com/zadorozhnaya_natasha">Natasha Zadorozhnaya</a>
                                                        <div id="wpt1note_26103356">
                                                            <div class="wall_reply_text">Жаль только,что далеко не всем это дано от природы,многим приходиться это развивать со временем,но немногим удается))<br>Не смотря на всю простоту фразы,она имеет глубокий смысл))стоило бы действительно задуматься))</div>
                                                        </div>
                                                    </div>
                                                    <div class="info_footer" id="wpe_bottom1note_26103356">
                                                        <span class="rel_date">8 апр 2011</span> 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> *}
                            </div>
                        </div>
                    </div>
                </div>
            {/if}
            </div>
        </div>

        <a id="fw_load_more" class="pg_more_link" onclick="Pagination.showMore()" style="display: none">
            <span>к предыдущим записям</span>
            <div id="fw_more_progress" class="pg_more_progress progress"></div>
        </a>
    </div>
</div>
{/block}