{extends "../@layout.latte"}

{php $cur['static'] = [
    'wall.js',
    'wall.css',
    'page.js',
    'page.css',
    'wk.js',
    'wk.css',
    'notes.js',
    'notes.css',
    'pagination.js',
]}
{var $owner = $note->getOwner()}

{block title}{$note->getName()}{/block}

{block view_script}
    {if $jsTags}<script>{include "components/note_init_script.latte"}</script>
    {else}{include "components/note_init_script.latte"}{/if}
{/block}

{block headIncludes}
    {var $notePreview = $note->getPreview(200)}
    <meta property="og:title" content="{$note->getName()} — {$instance_name}" />
    <meta property="og:url" content="{$baseUrl}/note{$note->getPrettyId()}" />
    <meta property="og:type" content="article" />
    <meta n:if="!empty($notePreview)" property="og:description" content="{$notePreview}" />
    <meta name="twitter:title" content="{$note->getName()} — {$instance_name}" />
    <meta n:if="!empty($notePreview)" name="twitter:description" content="{$notePreview}" />
{/block}

{block content}
<div class="full_wall_tabs t_bar clear_fix">
    <div class="fl_r progress" id="full_wall_progress"></div>

    <ul id="full_wall_filters" class="t0">
        <li>
            <a href="/wall{$owner->getId()}?type=owners" onclick="return checkEvent(event)" onmousedown="return FullWall.go(this, event)">
                <b class="tl1"><b></b></b>
                <b class="tl2"></b>
                <b class="tab_word">{tr("users_posts", ovk_proc_strtr($owner->getFirstName(), 20))}</b>
            </a>
        </li>
        <li>
            <a href="/wall{$owner->getId()}" onclick="return checkEvent(event)" onmousedown="return FullWall.go(this, event)">
                <b class="tl1"><b></b></b>
                <b class="tl2"></b>
                <b class="tab_word">{_all_posts}</b>
            </a>
        </li>
        <li>
            <a href="/notes{$owner->getId()}" onclick="return checkEvent(event)" onmousedown="return FullWall.go(this, event)">
                <b class="tl1"><b></b></b>
                <b class="tl2"></b>
                <b class="tab_word">{_notes}</b>
            </a>
        </li>
        <li class="active_link">
            <a href="/notes{$note->getPrettyId()}" onclick="return checkEvent(event)" onmousedown="return FullWall.go(this, event)">
                <b class="tl1"><b></b></b>
                <b class="tl2"></b>
                <b class="tab_word">{_note}</b>
            </a>
        </li>
    </ul>
</div>

<div id="fw_post_wrap">
    <div class="fwn_header">
        <div>
            <a class="fwn_title" href="/note{$note->getPrettyId()}" onclick="return nav.go(this, event)">{$note->getName()}</a>
        </div>
        <div class="fwn_author_wrap">
            <a class="fwn_author" href="{$owner->getURL()}" onclick="return nav.go(this, event)">{$owner->getCanonicalName()}</a>
        </div>
    </div>

    <div id="fw_post" class="fw_note"><div class="fwn_table">
        <div id="note{$note->getPrettyId()|noescape}" class="fwn_post wk_text">{$note->getText()|noescape}</div>
        <div class="fwn_bottom">
            <div class="fl_l fw_post_date">{$note->getPublicationTime()}<span class="divide unshown">|</span></div>
            {*<div class="fw_like_wrap fl_l" onmouseover="wall.likeOver('{$owner->getId() . '_note' . $note->getId()|noescape}')" onmouseout="wall.likeOut('{$owner->getId() . '_note' . $note->getId()|noescape}')" onclick="wall.like('{$owner->getId() . '_note' . $note->getId()|noescape}', 'fcfd2f2f094d064155')">
                <span class="fw_like_link fl_l" id="like_link{$owner->getId() . '_note' . $note->getId()|noescape}">Like</span>
                <i class="fw_like_icon  fl_l" id="like_icon{$owner->getId() . '_note' . $note->getId()|noescape}"></i>
                <span class="fw_like_count fl_l" id="like_count{$owner->getId() . '_note' . $note->getId()|noescape}">40149</span>
            </div>*}
        </div>
        </div>
    </div>
</div>
{* todo: comments *}
{/block}
