{contentType javascript}

{var $isMain      = $mode === 'main'}
{var $isContacts  = $mode === 'contacts'}
{var $isInterests = $mode === 'interests'}
{var $isAdditional = $mode === 'additional'}

{php if ($isAvatar || $isBackDrop) $isMain = true;}

stManager.add(['../ee13/out_of_order.css']);

{if $isMain}
cur.options = {
    hash: '{$csrfToken|noescape}',

    first_name: {$thisUser->getFirstName(true)},
    last_name: {(string)$thisUser->getLastName(true)},
    middle_name: {(string)$thisUser->getPseudo()},
    maiden_name: '',
    home_town: {(string)$thisUser->getHometown()},
    {* приводим к строкам тому шо пустота возвращает null, а нам этого не надо *}

    sex: {$thisUser->getPronouns()},
    sexes: [[0, {_male}], [1, {_female}], [2, {_neutral}]],

    status: {$thisUser->getMaritalStatus()},
    statuses: {
        0: [
            [0, '- ' + {_relationship_0} + ' -'],
            [1, {_relationship_1}],
            [2, {_relationship_2}],
            [3, {_relationship_3}],
            [4, {_relationship_4}],
            [5, {_relationship_5}],
            [6, {_relationship_6}],
            [7, {_relationship_7}]
        ],
        1: [
            [0, '- ' + {_relationship_0} + ' -'],
            [1, {_relationship_1_fem}],
            [2, {_relationship_2}],
            [3, {_relationship_3_fem}],
            [4, {_relationship_4_fem}],
            [5, {_relationship_5}],
            [6, {_relationship_6_fem}],
            [7, {_relationship_7}]
        ],
        2: [
            [0, '- ' + {_relationship_0} + ' -'],
            [1, {_relationship_1}],
            [2, {_relationship_2}],
            [3, {_relationship_3}],
            [4, {_relationship_4}],
            [5, {_relationship_5}],
            [6, {_relationship_6}],
            [7, {_relationship_7}]
        ]
    },

    {var $maritalPartner = $thisUser->getMaritalStatusUser()}
    partner: {$maritalPartner ? $maritalPartner->getId() : 0},
    partners: [
        [0, {_relationship_0}]
        {if $maritalPartner}
            , [
                {$maritalPartner->getId()},
                {$maritalPartner->getCanonicalName()}
            ]
        {/if}
    ],
    ptitles: {
      2: ["Партнёр", "Партнёр", "Партнёр"],
      3: ["Невеста", "Жених", "Партнёр"],
      4: ["Жена", "Муж", "Партнёр"],
      5: ["Партнёр", "Партнёр", "Партнёр"],
      7: ["Партнёр", "Партнёр", "Партнёр"]
    },
    status_helps: {
        1: '2',
        2: '1',
        3: '0'
    },

    {var $birthday = $thisUser->getBirthday()}
    bday: {$birthday ? (int) $birthday->format('%d') : 0},
    bmonth: {$birthday ? (int) $birthday->format('%m') : 0},
    {if $birthday}
    byear: {(int) $birthday->format('%Y') < 1970 ? 1970 : (int) $birthday->format('%Y')},
    {else}
    byear: 0,
    {/if}
    bmonths: [
        [0, {$ee13vars->get_lang("month")} + ':']
        {for $mon = 1; $mon <= 12; $mon++}
            , [{$mon}, {$ee13vars->get_lang("mth" . $mon)}]
        {/for}
    ],

    byears: [
        [0, {$ee13vars->get_lang("year")} + ':']
        {for $year = date('Y'); $year >= 1970; $year--}
            , [{$year}, {$year}]
        {/for}
    ],

    bday_visibility: 0,
    bday_visibilities: [[0, {_"show_my_birthday"}], [1, {_show_only_month_and_day}]],

    lang: [0, 1, 2, 3],
    langs: [[0, "Русский"], [1, "Українська"], [2, "Беларуская"], [3, "English"]],
    family: [],
};
{elseif $isContacts}
cur.saveHash = '{$csrfToken|noescape}';

cur.options = {
    email: {(string) $thisUser->getContactEmail()},
    mobile: '',
    home: {(string) $thisUser->getPhysicalAddress()},
    website: {(string) $thisUser->getWebsite()},
    skype: {(string) $thisUser->getTelegram()},
};

{var $city = htmlspecialchars((string) $thisUser->getCity(), ENT_QUOTES | ENT_SUBSTITUTE, 'UTF-8')}
cur.selectData = {
    countries: [
        [1, "United States"]
    ],
    country: 1,
    cities: [
        [{$city}, {$city}]
    ],
    country_val: [1, "United States"],
    city_val: [{$city}, {$city}]
};

cur.privacy = {
    _types: {
        0: getLang('privacy_options_all_users'),
        1: getLang('privacy_options_friends_and_friends'),
        2: getLang('privacy_options_friends_only'),
        3: getLang('privacy_options_only_me'),
        4: getLang('privacy_options_advanced_settings'),
        5: getLang('privacy_options_some_friends'),
        6: getLang('privacy_options_some_friend_lists')
    },
    _lists: {},

    email:  [0, 1, [0], []],
    mobile: [3, 1, [3], []],
    home:   [2, 1, [2], []]
};
{elseif $isInterests}
cur.options = {
    hash: '{$csrfToken|noescape}'
}

cur.interests_data = {
    activities: '',
    interests: {$thisUser->getInterests()},
    music: {$thisUser->getFavoriteMusic()},
    movies: {$thisUser->getFavoriteFilms()},
    tv: {$thisUser->getFavoriteShows()},
    books: {$thisUser->getFavoriteBooks()},
    games: {$thisUser->getFavoriteGames()},
    quotes: {$thisUser->getFavoriteQuote()},
    about: {$thisUser->getDescription()}
};
{/if}


function cleanName() {
{syntax off}
    var result = [];
    for (var i = 0; i < arguments.length; i++) {
        var name = arguments[i];
        if (name == null) {
            result.push('');
            continue;
        }
        name = String(name)
            .replace(/<[^>]*>/g, ' ')
            .replace(/\u00A0/g, ' ')
            .replace(/[\u2018\u2019\u02BC\u0060]/g, "'")
            .replace(/[\u2010-\u2015\u2212]/g, '-')
            .replace(
                /[^A-Za-z\u00C0-\u024F\u0300-\u036F\u0370-\u052F\u0530-\u058F\u0590-\u06FF\u10A0-\u10FF '\-]/g,
                '')
            .replace(/\s+/g, ' ')
            .replace(/-{2,}/g, '-')
            .replace(/'{2,}/g, "'")
            .replace(/\s*-\s*/g, '-')
            .replace(/\s*'\s*/g, "'")
            .replace(/^[\s'\-]+|[\s'\-]+$/g, '')
            .toLowerCase();
        var normalized = '';
        var upperNext = true;
        for (var j = 0; j < name.length; j++) {
            var character = name.charAt(j);

            if (
                character == ' ' ||
                character == '-' ||
                character == "'") {
                normalized += character;
                upperNext = true;
            } else {
                normalized += upperNext
                 ? character.toUpperCase()
                 : character;

                upperNext = false;
            }
        }
        result.push(normalized);
    }
    return result;
{/syntax}
}

cur.lang = {
    "profileEdit_main_sel_bday": {$ee13vars->get_lang("day")} + ':',
    "profileEdit_name_be_patient": {$ee13vars->get_lang("profileEdit_name_be_patient")},
    "profileEdit_partner_hint": {$ee13vars->get_lang("profileEdit_partner_hint")},
    "profileEdit_main_sel_relat": '- ' + {_relationship_0} + ' -',
    "profileEdit_general_changes_saved": "<b>" + {_changes_saved} + ".</b><br>" + {_changes_saved_comment} + ".",
    "profileEdit_interests_saved": "<b>" + {_changes_saved} + ".</b><br>" + {_changes_saved_comment} + "."
};

{if $isMain}
ProfileEditor.initGeneral();
var initialStatus = intval(cur.uiStatus.val());
if (initialStatus == 2 || initialStatus == 3 || initialStatus == 4 || initialStatus == 5 || initialStatus == 7) {
  cur.uiStatus.options.onChange(initialStatus);
}
{elseif $isContacts}
ProfileEditor.initContacts();
cur.uiCity.focus = cur.uiCity.focus.bind(cur.uiCity);
{elseif $isInterests}
ProfileEditor.initInterests();
{elseif $isAdditional}
showFastBox(getLang('global_warning'), {$ee13vars->get_lang("stub_sorry")});
{/if}

val('top_back_link', {$thisUser->getCanonicalName()});

cur.module = 'profile_edit';